/* Sortable tables 
table.sortable a.sortheader {
	background-color:#eee;
	color:#666666;
	font-weight: bold;
	text-decoration: none;
	display: block;
}
table.sortable span.sortarrow {
	color: black;
	text-decoration: none;
}
*/

table {
	margin-bottom: 20px;
	width: 100%;
}

table.form,
table.form * {
	background-color: transparent !important;
}

th {
	border-top: 0 none;
}

td {
	border-top: 1px solid #DDDDDD;
}

th, td {
	text-align: left;
}

tbody tr:nth-child(2n+1) th,
tbody tr:nth-child(2n+1) td {
	background-color: #F9F9F9;
}


#footer {
	font-size:x-small;
}

h1:first-child {
	font-size: 24px;
	padding-bottom: 5px;
}


h2 {
	border-color: #468847;
	color: #468847;
	border-style: solid;
	border-width: 0 0 1px;
}

h1 a, h2 a {
	color: inherit;
}

h1 {
	margin-top: 32px;
}

.com {
	//text-align: center;
	font-weight: bold;
}

#logo {
	width: 48px;
	height: 48px;
}

a {
	text-decoration: none;
}

a:active {
	position: relative;
	top: 1px;
}

/*
a:hover {
	background-color: #D0D0FF;
	background-color: #848484;
}
*/

#headerlinks {
	float: right;
	position: relative;
	bottom: -12px;
}

#headerlinks a {
	border-style: solid;
	border-width: 2px;
	padding: 2px;
}

#headerlinks a:active,
#headerlinks a:hover {
	text-decoration: none;
}

i.fa {
	margin: 2px;
}

input, textarea {
	font-family: sans-serif;
	border-color: #0088CC;
	border-style: solid;
	border-width: 1px;
	margin: 4px;
	padding: 2px;
}

textarea {
	width: 100%;
	height: 128px;
}

hr.min, hr.max {
	margin: auto;
	width: 70%;
	border-style: solid;
	border-width: 0;
	border-top-width: 1px;
	margin-top: 13px;
	margin-bottom: 12px;
	border-color: #468847;
}

hr.max {
	width: 100% !important;
}

input.big {
	padding: 4px;
	border-style: solid;
	border-width: 2px;
	/* Style 01
	border-color: #333333;
	color: #FEFEFE;
	background-color: #0088CC; */

	border-radius: 0;
	border-color: #333333;
	color: #FEFEFE;
	background-color: #468847;

	font-family: sans-serif;
	font-weight: bold;
}

input.big:hover {
	cursor: hand; cursor: pointer;
	background-color: #EFEFEF;
	color: #468847;
}

input.big:active {
	position: relative;
	top: 2px;
}

.fullw {
	width: 100%;
} 

.halfw {
	width: 50%;
} 

.thrdw {
	width: 33%;
} 

.center, div.center , form.center {
	display:block;
	text-align:center;
	margin: auto;
}

.infobox {
	padding: 4px;
	background-color: rgba(208,208,255,0.9); /* #D0D0FF */
	border: rgba(128,128,128,0.9) solid 1px;
}
#rememberme_notice {
	position:relative;
	z-index:2;
}

.dialog_description {
	height:206px;
	overflow:auto;
	background-color:#F7F7F9;
	padding: 4px;
	border-radius: 4px;
	border: 1px solid #DDDDDD;
}

.important {
	font-style: italic;
	color: red;
}
