Options -Indexes

AddType application/octet-stream .bin .exe .ahkp

ErrorDocument 400 /error_docs/400.html
ErrorDocument 401 /error_docs/401.html
ErrorDocument 403 /error_docs/403.html
ErrorDocument 404 /error_docs/404.html
ErrorDocument 500 /error_docs/500.html